.App {
  text-align: center;
  color: #bbb;
}

@media(min-width:768px) {
  .Roll-Container {
    width:750px;
  }
}
@media(min-width:992px) {
  .Roll-Container {
    width:970px;
  }
}
@media(min-width: 1200px){
  .Roll-Container{
    width: 1100px;
  }
}

.Roll-Container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  line-height: 1.42857143;
  font-family: Arial,sans-serif;
}

